img {
    margin-left: 80px;
    margin-top: 100px;
}
div{
    background-color: #e6e6e6;
    height: 700px;
    width: 800px;
    margin-top: 100px;

}
#img1{
    width: 50px;
    height: 50px;
    margin-left: 350px;
    margin-top: 50px;
}
.label{
    font-size: 1.3vw;
    margin-left: 110px;
    color:grey;
}
.input{
    width:550px;
    height: 40px;
    margin-left:110px ;
    font-size: 1vw;
}
#checkbox{
    width:15px;
    height: 15px;
    margin-left: 110px;
}
#showpassword{
    color:green;
}
#Forgetpassword{
    color:green;
    padding-left: 300px;
}
#login{
    width:100px;
    height:30px;
    font-size: 1vw;
    margin-left: 200px;
    background-color: green;
    color:white;
    cursor: pointer;
    border: none;
}
#Signup{
    width:100px;
    height:30px;
    font-size: 1vw;
    background-color: white;
    border-color:green;
    margin-left:480px;
    color: grey;
    cursor: pointer;
    margin-top: -29px;
    position: absolute;
    
    
    
}
#Signup:hover{
    background-color: green;
    color: white;
}

#Or{
    margin-left: 370px;
}
#img2{
    width: 30px;
    height: 30px;
    margin-left: 350px;
    margin-top: 40px;
    position: absolute;
    
}

#img3{
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: 400px;
    margin-top: 40px;
    
}
